<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="/supplies.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<% include ../partials/header.ejs %>
<body id="homeBody">
       
    <div class="list">
            <h1>Supplies Checklist:</h1>
        <ul>
            
                <li>Boxes of various sizes:</li>
                <ul>
                    <li>Small boxes</li>
                    <li>Medium boxes</li>
                    <li>Large boxes</li>
                    <li>Extra large boxes</li>
                    <li>Divided boxes</li>
                    <li>Plastic bins, if you plan to reuse them for storage</li>
                </ul>
                <li>Tape:</li>
                <ul>
                    <li>Shipping tape (2)</li>
                    <li>Duct tape or strapping tape (2)</li>
                    <li>Masking tape for labeling (2)</li>
                    <li>Painter’s tape for immediate projects (2)</li>
                    <li>tape dispensers</li>
                </ul>
                
                <li>Scissors</li>
                <li>Box cutters</li>
                <li>Sticker labels (if you aren’t using masking tape)</li>
                <li>Sharpie permanent markers for labeling</li>
                <li>Colored markers or colored stickers for room color coding</li>
                <li>Packing material, such as bubble wrap, packing paper, newsprint or enough of your own linens</li>
                <li>Hand truck or dolly</li>
                <li>Gloves to protect your hands while moving</li>
                <li>Rope, twine, tie-downs and bungee cords to keep boxes and furniture in place</li>
                <li>Blankets to protect furniture, mirrors and your TV</li>
                <li>Felt pads to protect floors while moving large furniture</li>
                <li>Basic cleaning supplies</li>

        </ul>

    </div>

    <% include ../partials/todos.ejs %>
</body>