<STYLE>A {text-decoration: none;} </STYLE>
    <div class="header">
        <a id = "logo" href="/home"><img class="logo-img" src="/MovinLogo.png" width="500" height="50" alt="Movin Logo"></a>
        <div id= "nav">
        <nav id = "navLinks" style= "display: inline-block">
                <div style= "display: inline-block; margin-right: 20px"><a href="/assassins">Supplies</a></div>
                <div style= "display: inline-block; margin-right: 20px"><a href="/truck_rentals">Truck Rentals</a></div>
                <div style= "display: inline-block;"><a href="/moving_companies"> Moving Companies</a></div>
        </nav>
        </div>
    </div>
