<html>
  <head>
    <title>Moving Checklist</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="supplies.css" type="text/css" media="screen" charset="utf-8">    
  </head>
  <body>
    <div class="container">
      <p>
        <label for="new-task">Add Supply</label><input id="new-task" type="text"><button>Add</button>
      </p>
      
      <h3>Supplies Needed</h3>
      <ul id="incomplete-tasks">
      </ul>
      
      <h3>Supplies Bought</h3>
      <ul id="completed-tasks">
      </ul>
    </div>

    <script type="text/javascript" src="app.js"></script>

  </body>
</html>