<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <script type = "module" src="../app.js" charset="utf-8"></script>
    <script type = "application/" src="https://storage.googleapis.com/code-snippets/rapidapi.min.js"></script>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>
<body>
        <% include partials/header.ejs %>
        <h1 id = "slogan" class='box fade-in one'>"You just gotta keep movin' man, M-O-V-I-N." </h1>
        <h2 id = "intro" class='box fade-in one'>
            <p>Trying to move around Austin?</p>
            <p>  How are you going to do it? </p> 
            <p>Who are you going to hire? </p>
            <p> We are here to help. </p> 
            <p> Find information for doing it yourself or for leaving it to the professionals! </p>
        </h2>
    <div id= "homeBG" class='box fade-in one'> 
        <div id="parent-div-1">
            <a href="http://"></a><div class = 'child-div-1'><div class='content'>SWEAT A LITTLE</div></div>
            <div style = 'display: inline-block' class = 'child-div-2'><div class='content'>JUST RELAX</div></div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

