<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <script type = "module" src="../app.js" charset="utf-8"></script>
    <script type = "text/javascript" src="https://storage.googleapis.com/code-snippets/rapidapi.min.js"></script>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>
<body>
        <% include partials/header.ejs %> 
</body>

