<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<body>
    <h1 id = "slogan">"You just gotta keep movin' man, M-O-V-I-N." </h1>
    <h2 id = "intro">Trying to move around Austin?  How are you going to do it?  Who are you going to hire?  We're here to help.  Find information for doing it yourself or for leaving it to the professionals!</h2>
    <p id = "enter"><a href ='home'>Enter Website</a></p>
</body>
</html>