<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="/supplies.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
    <STYLE>A {text-decoration: none;} </STYLE>
</head>
<% include partials/header.ejs %>
<body id="homeBody">
    <% include partials/todos.ejs %>
</body>