a {
    color: rgb(11, 14, 36);
}

#homebg {
    background-color: #92b2c7;
    opacity: 0.2;
    width:100%;
    height:200px;
    margin-top:8%;
    margin-bottom:-10%;
}

#homeBody {
    background-image: url('boxes.png');
    background-position: center;
    background-repeat: no-repeat;
}

#homeBG {
    background-image: url('austin.jpg');
    background-position: center;
    background-blend-mode: lighten;
    margin-bottom: -100px;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1500px;
}

#parent-div-1 .child-div-1 {
    width: 400px;
    height: 400px;
    border: rgb(104, 129, 138) dotted;
    float: left;
    margin-right: 150px;
    margin-left: 220px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.267);
    background:#7f7f7f;
    background:rgba(255, 255, 255, 0.712);
    border-radius: 80%;
}
#parent-div-1 .child-div-1 .content {
    margin-top: 30%;
}

#parent-div-1 .child-div-2 {
    width: 400px;
    height: 400px;
    border: rgb(104, 129, 138) dotted;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.15);
    background:#7f7f7f;
    background:rgba(255, 255, 255, 0.712);
    border-radius: 80%;
}

#parent-div-1 .child-div-2 .content {
    margin-top: 40%;
}


.header {
    background-color: white;
    position: relative;
    width:100%;
    height:100px;
    align-content: center;
    margin-top: -10px;
    margin-bottom: 50px;
    z-index: 100;
}

.logo-img {
    margin-top: 50px;
    vertical-align: center;
}

#logo {
    margin-top: 100px;
    z-index:100;
}

#nav {
    margin-top: -45px;
    margin-left: 60%;
}


#navLinks a{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    display: inline-block;
}

#slogan {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    background-color: #92b2c7;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.15);
}

#intro {
    font-family: 'Dosis', sans-serif;
    width: 50%;
    font-size: 25px;
    color: rgba(37, 35, 35, 0.596);
    text-align: center;
    margin-left: 25%;
    margin-bottom: 50px;
}

#truckGif {
    animation-duration: 10s;
    animation-name: slidein;
    position: relative;
    z-index: -1;
    height: 100px;
    width: 150px;
    margin-left: 66%;
    margin-top: -50px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    
  }
  
  @keyframes slidein {
    from {
      margin-left: 10%;
    }
  
    to {
      margin-left: 66%;
    }
  }


@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.gallery-block{
    margin-top: -100px;
    padding-bottom: 60px;
    padding-top: 60px;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-bottom: -200px;
  }
  
  .gallery-block .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block .heading h2{
      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
  }
  
  .gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
  }
  
  .gallery-block.cards-gallery .card{
    border-radius: 20%;
    transition: 0.4s ease; 
    width: 350px;
  }
  
  .gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
  }
  
  .gallery-block.cards-gallery .card-body {
    text-align: center; 
  }
  
  .gallery-block.cards-gallery .card-body p {
    font-size: 15px; 
  }
  
  .gallery-block.cards-gallery a {
    color: #212529; 
  }
  
  .gallery-block.cards-gallery a:hover {
    text-decoration: none; 
  }
  
  .gallery-block.cards-gallery .card {
    margin-bottom: 30px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }
  
  @media (min-width: 576px) {
  
    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
    }
  }

.dropdown {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    display: block;
}

.dropbtn {
    border-radius: 100%;
    width: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
  display: block;
  font-size: 15px;
}
.dropdown:hover .dropdown-content {
    display: block;
}


.imgHolder{
    background-image: url('bgstripes.png');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
  }
 