body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
  }

  #homeBody {
    align-content: left;
  }
 
  .container {
    border-top: #333 10px solid;
    font-family: 'Dosis', sans-serif;
    width: 500px;
    margin-top: 20px;
    margin-left: 30%;
    background:#7f7f7f;
    background:rgba(255, 255, 255, 0.712);
    margin-right: -500px;
  }
  #incomplete-tasks{
    margin-left: -50px;
    padding: 0;
  }

  .list {
    background-color: rgba(221, 221, 221, 0.507);
    border: 5px dotted rgba(161, 154, 154, 0.103);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    margin-left: 15%;
  }

  .list h1 {
    border-bottom: #333 10px solid;
  }

  .list li {
    font-family: 'Permanent Marker';
    font-size: 20px;
  }

  #supplies {
    width: 400px;
    margin: 0;
  }

  .container li * {
    float: left;
  }
  .container li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: #333;
  }
  /* Heading */
  .container h3,
  label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
  }
  input[type="text"]:focus {
    color: #333;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: left;
    width: 318px;
  }
  p > button:hover {
    color: #0FC57C;
  }
  
  /* Task list */
  .container li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
  }
  .container li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  .container li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  .container li >  input[type="text"] {
    width: 226px;
  }
  .container li > .delete:hover {
    color: #CF2323;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: #888;
  }
  
  /* Edit Task */
  .container ul li input[type=text] {
    display:none;
  }
  
  .container ul li.editMode input[type=text] {
    display:block;
  }
  
  .container ul li.editMode label {
    display:none;
  }

