<head>
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
    
</head>
        <STYLE>A {text-decoration: none;} </STYLE>
        <div class="header">
            <a id = "logo" href="/"><img class="logo-img" src="/MovinLogo.png" width="500" height="50" alt="Movin Logo"></a>
          
        </div>
<div class="login">
        <div class="heading">
          <h2>Sign in</h2>
          <form action="/users" method="POST" id="Login">
      
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email Address">
                </div>
      
              <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
      
              <button type="submit" class="float">Login</button>
            </form>
        </div>
</div>