<head>
        <link rel="stylesheet" href="login.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin Login</title>
        
</head>

<STYLE>A {text-decoration: none;} </STYLE>
        <div class="header">
            <a id = "logo" href="/"><img class="logo-img" src="/MovinLogo.png" width="500" height="50" alt="Movin Logo"></a>
        </div>

        <div id= "nav">
                <nav id = "navLinks" style= "display: inline-block">
                        <div style= "display: inline-block; margin-right: 20px"><form action="/admin/truck_rentals" method="GET"><button>Truck Rentals</button></form></div>
                        <div style= "display: inline-block;"><form action="/admin/moving_companies" method="GET"><button>Moving Companies</button></form></div>
                </nav>
        </div>